<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="com.cicada.yuanxiaobao">

    <!-- 访问网络 -->
    <uses-permission android:name="android.permission.CALL_PHONE"/>
    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE"/>
    <uses-permission android:name="android.permission.FLASHLIGHT"/>
    <uses-permission android:name="android.permission.WAKE_LOCK"/>
    <uses-permission android:name="android.permission.CAMERA"/>

    <uses-feature android:name="android.hardware.camera"/>
    <uses-feature android:name="android.hardware.camera.autofocus"/>
    <uses-feature android:name="android.hardware.camera.front" />



    <application
        android:name="com.cicada.yuanxiaobao.common.MyApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".home.view.LauncherActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
        <!--网络监听广播-->
        <receiver
            android:name=".common.NetBroadcastReceiver"
            android:process=":remote">
            <intent-filter>
                <action android:name="android.net.conn.CONNECTIVITY_CHANGE"/>
            </intent-filter>
        </receiver>
        <!--提交缓存数据服务-->
        <service android:name=".common.CommitDataService"
                 android:process=":remote1">
            <intent-filter>
                <action android:name="com.cicada.yuanxiaobao.common.CommitDataService"/>
            </intent-filter>
        </service>
        <!--宣传活动-->
        <activity android:name=".home.view.PropagandaActivity"/>
        <!--首页-->
        <activity android:name=".home.view.FragmentMainActivity"/>
        <!--登录-->
        <activity android:name=".home.view.LoginActivity"/>
        <!--图片预览-->
        <activity android:name=".common.ShowPictureActivity"/>

    </application>

</manifest>